.contenitore{
    margin-left: 10%;
    margin-right: 10%;
}

.bg_logo{
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: #4ea0ff;
    margin: 0;
}

.logo{
    width: 150px;
    margin-left: 10%;
    margin-top: 25px;
}

.main_img{
    margin-left: 10%;
}

.description_img{
    margin-left: 10%;
}

#name_writer{
    color: #3cb4e8;
}

.info{
    color: #8a8a8a;
}

.description_img{
    font-size: 10px;
}

.highlighted{
    background-color: yellow;
}

.head_row{
    color: white;
    background-color: #4ea0ff;
}

.right{
    display: inline-block;
    width: 45%;
    color:black;
  }

.central{
    display: inline-block;
    width: 25%;
    color: black;
  }

.left{
    display: inline-block;
    width: 25%;
    color: black;
  }

  .title_proposals{
    color: #828282;
  }

.row_color{
    background-color: #b1e5f2
}
